<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Registration and
                Login Module</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>

<div class="container">
    <h1>Registration and Login </h1>
    Welcome <span sec:authentication="principal.username"> User</span>

<div class="container my-2">
    <h1> Posts List </h1>

    <a th:href="@{/posts/showNewPostsForm}" class="btn btn-primary btn-sm mb-3">Add Posts</a>
    <a th:href="@{'/posts/page/' + ${currentPage} + '?sortField=publishedAt&sortDir=' + ${reverseSortDir}}">
        Sort</a>

    <form th:action="@{/posts/list}">
        <div class="form-group">
            <label for="author">Select Authors</label>
            <select class="form-control selectpicker" th:field="*{newPost.author}" id="author" multiple>

                <option th:each="post : ${listPost1}"
                        th:value="${post.author}"
                        th:text="${post.author}">author
                </option>

            </select>
        </div>
        <div class="form-group">
            <label for="tag">Select tags</label>
            <select class="form-control selectpicker" th:field="*{newPost.tag}" id="tag" multiple>

                <option th:each="tag : ${tagList}"
                        th:value="${tag.name}"
                        th:text="${tag.name}">tag
                </option>

            </select>
        </div>
        <div class="form-group">
            <label for="publishedAt">Select Published Date </label>
            <select class="form-control selectpicker" th:field="*{newPost.content}" id="publishedAt" multiple>

                <option th:each="post : ${listPost1}"
                        th:value="${post.publishedAt}"
                        th:text="${post.publishedAt}">Published Date
                </option>

            </select>
        </div>
        <input type="submit" value="Filter"/>
    </form>
    <form th:action="@{/posts/list}">
        <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}"/>
        &nbsp;<br>
        <input type="submit" value="Search"/>
        &nbsp;
        <table border="1" class="table table-striped table-responsive-md">
            <thead>
            <tr>

                <th> Title</th>
                <th> Excerpt</th>
                <th> Content</th>
                <th> Author</th>
                <th> Published Date time</th>

            </tr>
            </thead>
            <tbody>


            <tr th:each="posts : ${listPost1}">
                <td th:text="${posts.title}"></td>
                <td th:text="${posts.excerpt}"></td>
                <td th:text="${posts.content}"></td>
                <td th:text="${posts.author}"></td>
                <td th:text="${posts.publishedAt}"></td>
                </td>

                <td>
                    <a th:href="@{/posts/{id}(id=${posts.id})}" class="btn btn-primary"> View Post</a>
                    <a th:href="@{/posts/showFormForUpdate/{id}(id=${posts.id})}" class="btn btn-primary">Update</a>
                    <a th:href="@{/posts/deletePosts/{id}(id=${posts.id})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>


        <div th:if="${totalPages > 0}">
            <div class="row col-sm-10">
                <div class="col-sm-2">
                    Total Rows: [[${totalItems}]]
                </div>
                <div class="col-sm-1">
     <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${currentPage != i}"
         th:href="@{'/posts/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
     </span>
                </div>
                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}"
                       th:href="@{'/posts/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                    <span th:unless="${currentPage < totalPages}">Next</span>
                </div>

                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}"
                       th:href="@{'/posts/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                    <span th:unless="${currentPage < totalPages}">Last</span>
                </div>
            </div>
        </div>

    </form>

</div>
</div>

</body>

</html>