<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />

</head>

<body>
<a href="/" th:href="@{/login}">Login as different User</a>
Logged user: <span sec:authentication="name"></span>
<a href="/" th:href="@{/logout}" sec:authorize="isAuthenticated()">Logout</a>

<div class="container my-2">
    <h1> Posts List </h1>

    <a th:href="@{/posts/showNewPostsForm}" class="btn btn-primary btn-sm mb-3"
       sec:authorize="isAuthenticated()" >Add Posts</a>
    <a th:href="@{'/posts/page/' + ${currentPage} + '?sortField=publishedAt&sortDir=' + ${reverseSortDir}}">
        Sort</a>

    <form th:action="@{/posts/list}">
        <div class="form-group">
            <label for="author">Select Authors</label>
            <select class="form-control selectpicker" th:field="*{newPost.author}" id="author" data-live-search="true"
                    multiple>

                <option th:each="currentAuthor : ${listAuthor}"
                        th:value="${currentAuthor}"
                        th:text="${currentAuthor}">author
                </option>

            </select>
        </div>
        <div class="form-group">
            <label for="tag">Select tags</label>
            <select class="form-control selectpicker" th:field="*{newPost.tag}" id="tag" multiple>

                <option th:each="currentTag : ${listTag}"
                        th:value="${currentTag}"
                        th:text="${currentTag}">tag
                </option>

            </select>
        </div>
        <label> Start Date </label>
        <input type="date" value="01/01/2000" class="form-control" id="startDate" name="startDate"
               th:value="${#calendars.format(startDate,'yyyy-MM-dd')}" />
        <br>
        <label> End Date </label>
        <input type="date" value="01/01/2000" class="form-control" id="endDate" name="endDate"
               th:value="${#calendars.format(endDate,'yyyy-MM-dd')}" />
        <br>


        <input type="submit" value="Filter"/>
    </form>
    <form th:action="@{/posts/list}">
        <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}"/>
        &nbsp;<br>
        <input type="submit" value="Search"/>
        &nbsp;
        <table border="1" class="table table-striped table-responsive-md">
            <thead>
            <tr>

                <th> Title</th>
                <th> Excerpt</th>
                <th> Content</th>
                <th> Author</th>
                <th> Published Date time</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="posts : ${listPost1}">
                <td th:text="${posts.title}"></td>
                <td th:text="${posts.excerpt}"></td>
                <td th:text="${posts.content}"></td>
                <td th:text="${posts.author}"></td>
                <td th:text="${posts.publishedAt}"></td>
                </td>

                <td>
                    <a th:href="@{/posts/{id}(id=${posts.id})}" class="btn btn-primary"> View Post</a>
                    <a th:href="@{/posts/showFormForUpdate/{id}(id=${posts.id})}"
                       name ="${posts.author}" class="btn btn-primary"
                       sec:authorize="isAuthenticated()">Update</a>
                    <a th:href="@{/posts/deletePosts/{id}(id=${posts.id})}"
                       class="btn btn-danger" sec:authorize="isAuthenticated()">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>


        <div th:if="${totalPages > 0}">
            <div class="row col-sm-10">
                <div class="col-sm-2">
                    Total Rows: [[${totalItems}]]
                </div>
                <div class="col-sm-1">
     <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${currentPage != i}"
         th:href="@{'/posts/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
     </span>
                </div>
                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}"
                       th:href="@{'/posts/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                    <span th:unless="${currentPage < totalPages}">Next</span>
                </div>

                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}"
                       th:href="@{'/posts/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                    <span th:unless="${currentPage < totalPages}">Last</span>
                </div>
            </div>
        </div>

    </form>

</div>
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>

</html>