<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <a th:href="@{/posts/list}"> Back to Blog List</a>
            <h2 th:text="${posts.title}">Title</h2>
            <p th:text="${posts.author}">Author</p>
            <p th:text="${posts.publishedAt}">Published At</p>
            <p th:text="${posts.content}">Content</p>
            <p th:text="${posts.tag}">tag</p>

            <p>Comment</p>

            <span th:each="newComments:${comments}">
					<span th:text="${newComments.name}"/><br>
                <span th:text="${newComments.email}"/><br>
                <span th:text="${newComments.comment}"/><br>

                <a th:href="@{/posts/{postsId}/updateComments/{commentId}(postsId=${posts.id},
                commentId=${newComments.id})}" class="btn btn-primary" sec:authorize="isAuthenticated()">
                    Update Comment</a>
                <br>
                <a th:href="@{/posts/{postsId}/deleteComments/{commentId}(postsId=${posts.id},
                commentId=${newComments.id})}" class="btn btn-primary" sec:authorize="isAuthenticated()">
                    Delete Comment</a>
                <br>
				</span>
            <a th:href="@{/posts/addComment/{postsId}(postsId=${posts.id})}" class="btn btn-success btn-xs">
                Add Comment</a>
        </div>
    </div>
</div>
</body>
</html>
